# Auto detect text files and perform LF normalization
* text=auto

<!DOCTYPE html>
<body>
    <h1>¡ALUMNO JOSE CHAVEZ !</h1>
    <p>PAGUINA DE TAREAS HTML.</p>
</body><background-color:green></background-color:green>
<h1>ESTE ES UN EJEMPLO DE COMO CON LA ETIQUETA H1 SE CREA UN ENCABEZADO</h1>
<p> ESTE EN UN EJEMPLO DE LA ETIQUETA P QUE En esta area se coloca normalmente la mayor parte del texto </p>
<a href="https://open.spotify.com/intl-es/artist/13Aw4kvMgRhqQQndVGx9dc">
<img src="c:\Users\josse\Downloads\parala school.jpg" alt="imagen de ejemplo">
<ul>MUSICA SCUAD 6 </ul>
<ul>JOSE</ul>
<ul>JOSUE</ul>
<Ul>RODRIGO</Ul>